// Breakpoints

$screen-sm: 500px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-desktop-lg: 1200px;
