// Place all the styles related to the heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Marvel-Regular";
  src: asset-url('Marvel-Regular.ttf') format('truetype');
 }

 @font-face {
   font-family: "Roboto-Condensed";
   src: asset-url('roboto-condensed.bold.ttf');
   src: asset-url('roboto-condensed.regular.ttf');
 }

 body {
   margin: 0;

   .container {
     margin:  2.5em 2em;
   }

   a{
     text-decoration: none;
   }
 }

 .header {
   background: #e62429;
   display: flex;
   justify-content: space-around;
   margin-bottom: 2em;
   padding: 1rem;
 }

 .div__marvel {
   width: 35%;
   background: #e62429;
   color: #fff;
   font-size: 3rem;
   font-family: "Marvel-Regular";
   line-height: 2.3rem;
   text-align: center;
   text-transform: uppercase;
 }

 .nav {
   width: 60%;
 }

 .container__ul {
   color: #fff;
   display: flex;
   font-weight: bold;
   font-size: 1.8rem;
   font-family: "Roboto-Condensed";
   list-style: none;
   margin: 0;
 }


.footer__info {
  background: #e62429;
  color: #fff;
  width: 100%;

  .author__footer {
    font-family: "Roboto-Condensed";
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
  }

}

.pagination {
  padding-left: 0;

  .li__pagination  {
    
    height: 2em;
    line-height: 2em;
    color: #fff;
    font-size: .9em;
    font-weight: 400;
    font-family: "Roboto-Condensed";
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0 .6em;
    border-radius: 4px;
    background: #e62429;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    transition: 0.15s ease;

    a {
      color: #fff;
    }
  }
}


.div__heroes--item{
  width: 100%;
}

.figure__heroes{
  margin: 0;
}

.img__heroes {
  height: 300px;
  vertical-align: middle;
  width: 100%;
}

.title__heroes {
  background: #e62429;
  color: #fff;
  font-size: 3.2rem;
  font-family: "Marvel-Regular";
  line-height: 3.2rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.div__heroe--container {
  display: flex;
}
.title__biography {
  background: #e62429;
  color: #fff;
  font-size: 3.5rem;
  font-family: "Roboto-Condensed";
  font-weight: bolder;
  line-height: 4rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.heroe__biography {
  width: calc(100% - 1rem);

  p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 33px 10px;
    font-family: "Roboto-Condensed";
  }
}

.figcaption__heroes{
  border-top: solid 6px #e62429;
  background: #151515;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto-Condensed";
  font-weight: bold;
  height: 160px;
  margin-bottom: 1rem;
  padding: 10px 0 0 10px;
  text-transform: uppercase;
}

.img--perfil {
  height: 350px;
}

.heroe--perfil {
  font-family: "Roboto-Condensed";
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
  padding: 16px 0 0 16px;
}

.div__heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div__image--heroe {
  width: 40%;
  margin: 0;
  height: auto;
  margin-right: 1rem;
}

.img__figure {
  width: 100%;
}

.img__comic {
  transition-duration: .3s;
  transition-property: transform;
  box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4);

  &:hover {
    transform: translateY(-8px);
  }
}

.img__serie {
  height: 300px;
}

.div__figure {
  width: 18%;
}

.div__heroe--series {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

 .slick-slide {
   margin: 0 10px;
 }

 .title__section--featured {
   line-height: 1.2em;
   font-size: 2.5rem;
   font-family: "Roboto-Condensed";
 }

 .figcaption__heroe--featured {
   font-family: "Roboto-Condensed";
   font-size: 1.3rem;
   line-height: 1.1em;
   font-weight: bold;
   margin: 0 0 .2em;
 }

 .info__serie--heroe {
   display: flex;
   justify-content: space-between;
   margin: .3rem 0;
 }

 .span.span__info {

 }

 .span__info--year{
   font-size: 1rem;
   color: #e62429;
 }

 .span__info--comics {
   font-size: .9rem;
   text-transform: uppercase;
 }

 .div__heroe--comic {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .div__comic--item{
   width: 24%;
   margin-bottom: .8rem;

   img{
     height: 400px;
   }

   .heroe__comic {
    padding: 1.2rem 0;
   }
 }




 .ul__li {
   width: 15%;
 }



.ul__li {
  color: #fff;
}

.hvr-sweep-to-bottom {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e62429;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    margin-left: .2rem;
  }
}

// sm big
$screen-sm: 500px;
@media (min-width: $screen-sm) {
  .div__heroes--item{
    width: 49%;
  }

  .li__pagination  {
    min-width: 2em;
  }
}

$screen-tablet: 768px;
@media (min-width: $screen-tablet) {
  .div__heroes--item{
    width: 32%;
  }
}

$screen-desktop: 992px;
@media (min-width: $screen-desktop) {
  .div__heroes--item{
    width: 24%;
  }
}

$screen-desktop-lg: 1200px;
@media (min-width: $screen-desktop-lg) {
  .div__heroes--item{
    width: 16%;
  }
}
